.loginRegister {
	width: 320px;
	padding: 30px;
	padding-top: 30px;
}

.container {
	display: flex;
	align-items: center;
	min-height: 100vh;
}


.login__fieldRegister {
	padding: 10px 0px;	
	position: relative;	
}

.login__iconRegister {
	position: absolute;
	top: 25px;
	color: #F76B1C;
}


.CheckboxInput{
	margin-left: 25px;
	font-weight: 700;
	color: #81818a;
}

.screenRegister {		
	background: linear-gradient(90deg, #F76B1C, #F76B1C);		
	position: relative;	
	height: 600px;
	width: 400px;	
	box-shadow: 0px 0px 24px #000000;
    margin-top: 20px;
}